src/main/resources/META-INF/nettyrpc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.newlandframework.com/nettyrpc"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:beans="http://www.springframework.org/schema/beans"
			targetNamespace="http://www.newlandframework.com/nettyrpc"
			elementFormDefault="qualified"
			attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.springframework.org/schema/beans"/>
	<xsd:element name="application">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="metrics" type="xsd:string" use="optional"/>
					<xsd:attribute name="name" type="xsd:string" use="required"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="service">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="interfaceName" type="xsd:string" use="required"/>
					<xsd:attribute name="ref" type="xsd:string" use="required"/>
					<xsd:attribute name="registry" type="xsd:string" use="optional"/>
					<xsd:attribute name="protocol" type="xsd:string" use="optional"/>
					<xsd:attribute name="scope" type="xsd:string" use="optional"/>
					<xsd:attribute name="filter" type="xsd:string" use="optional"/>
					<xsd:attribute name="mock" type="xsd:string" use="optional"/>
					<xsd:attribute name="token" type="xsd:string" use="optional"/>
					<xsd:attribute name="cache" type="xsd:string" use="optional"/>
					<xsd:attribute name="capacity" type="xsd:string" use="optional"/>
					<xsd:attribute name="timeout" type="xsd:string" use="optional"/>
					<xsd:attribute name="monitor" type="xsd:string" use="optional"/>
					<xsd:attribute name="weight" type="xsd:string" use="optional"/>
					<xsd:attribute name="limiter" type="xsd:string" use="optional"/>
					<xsd:attribute name="rate" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="registry">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="address" type="xsd:string" use="required"/>
					<xsd:attribute name="name" type="xsd:string" use="required"/>
					<xsd:attribute name="file" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="reference">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="interfaceName" type="xsd:string" use="required"/>
					<xsd:attribute name="registry" type="xsd:string" use="required"/>
					<xsd:attribute name="timeout" type="xsd:string" use="optional"/>
					<xsd:attribute name="retries" type="xsd:string" use="optional"/>
					<xsd:attribute name="loadbalance" type="xsd:string" use="optional"/>
					<xsd:attribute name="async" type="xsd:string" use="optional"/>
					<xsd:attribute name="cluster" type="xsd:string" use="optional"/>
					<xsd:attribute name="heartbeat" type="xsd:string" use="optional"/>
					<xsd:attribute name="heartbeatTimeout" type="xsd:string" use="optional"/>
					<xsd:attribute name="stub" type="xsd:string" use="optional"/>
					<xsd:attribute name="scope" type="xsd:string" use="optional"/>
					<xsd:attribute name="filter" type="xsd:string" use="optional"/>
					<xsd:attribute name="protocol" type="xsd:string" use="optional"/>
					<xsd:attribute name="cache" type="xsd:string" use="optional"/>
					<xsd:attribute name="sticky" type="xsd:string" use="optional"/>
					<xsd:attribute name="capacity" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="protocol">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="name" type="xsd:string" use="required"/>
					<xsd:attribute name="port" type="xsd:string" use="required"/>
					<xsd:attribute name="serialize" type="xsd:string" use="required"/>
					<xsd:attribute name="host" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
